# Dart / Podman
.dart_tool/
.env
scripts/gitea.env
scripts/jenkins.env
scripts/.webhook-token
bot.json
*.log
.DS_Store
build/
*.iml
bot
scripts/.webhook-token
scripts/.deploy_key
scripts/.deploy_key.pub
scripts/.registry-token
